Repository remarkablemark/conventional-release-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{css,json,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

docs(readme): add badges, description, instructions, and usage
  README.md
Due: prettier --write

chore(package): bump version to 1.0.0
  package.json
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier --write

docs(readme): add links and explanation on what this script does
  README.md
Due: prettier --write

refactor(files): rename .huskyrc -> .huskyrc.json
  files/.huskyrc.json
Due: prettier --write

chore: rename .eslintrc -> .eslintrc.json
  .eslintrc.json
Due: prettier --write

chore: rename .huskyrc -> .huskyrc.json
  .huskyrc.json
Due: prettier --write

chore: rename .lintstagedrc -> .lintstagedrc.json
  .lintstagedrc
  .lintstagedrc.json
Due: prettier --write

chore: rename .prettierrc -> .prettierrc.json
  .prettierrc.json
Due: prettier --write

chore: remove `git add` from .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): fix and improve instructions, comment out unused badges
  README.md
Due: prettier --write

chore(github): add FUNDING.yml and PULL_REQUEST_TEMPLATE.md
  .github/FUNDING.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

refactor(cli): organize comments and code
  cli.js
Due: npm run lint:fix

refactor(cli): create `console.log` helper function
  cli.js
Due: npm run lint:fix

refactor(cli): create helper function for `execSync`
  cli.js
Due: npm run lint:fix

feat(cli): log exit status code and when script is done
  cli.js
Due: npm run lint:fix

feat(cli): set version to 1.0.0-alpha if new package.json initialized
  cli.js
Due: npm run lint:fix

feat(cli): add files to git and commit changes with message
  cli.js
Due: npm run lint:fix

build(package): upgrade devDependencies
  .prettierrc.json
  package.json
Due: prettier --write

refactor(index): rename cli.js -> index.js and update package.json
  index.js
  package.json
Due: npm run lint:fix, prettier --write

docs(readme): remove $ in code blocks, update release instructions
  README.md
Due: prettier --write

feat(index): run git commands if working directory is a git repo
  index.js
Due: npm run lint:fix

chore(github): add GitHub Sponsors username to FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

ci(travis): add .travis.yml that runs lint
  .travis.yml
Due: prettier --write

fix(index): remove backticks in git commit command and tidy logs
  index.js
Due: npm run lint:fix

feat(index): update package.json version and scripts.release
  index.js
Due: npm run lint:fix

docs(readme): document updates made to package.json by script
  README.md
Due: prettier --write

docs(readme): uncomment travis ci build status badge
  README.md
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(index): do not append `-alpha` to package.json version
  index.js
Due: npm run lint:fix

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): tidy description and sections
  README.md
Due: prettier --write

ci(github): migrate build from Travis CI to GitHub Actions workflow
  .github/workflows/build.yml
  .travis.yml
  README.md
Due: prettier --write

chore(github): add ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

style(changelog): tidy CHANGELOG.md with prettier
  CHANGELOG.md
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

chore(husky): upgrade husky from v4 to v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write

feat(husky): update script to set up husky v5
  files/.huskyrc.json
  index.js
Due: npm run lint:fix, prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write
