Repository remarkablemark/conventional-release-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

docs(readme): remove `.huskyrc.json` config from README.md
  README.md
Due: prettier --write

chore(github): add dependabot.yml
  .github/dependabot.yml
Due: prettier --write

fix(index): add husky hooks and commit only if git repo exists
  index.js
Due: npm run lint:fix

fix(index): prepend package.json scripts instead of overriding them
  index.js
Due: npm run lint:fix

chore(index): improve logs and doc blocks
  index.js
Due: npm run lint:fix

docs(readme): update badge, description, install, and explanation
  README.md
Due: prettier --write

docs(readme): tidy explanation list
  README.md
Due: prettier --write

chore(release): 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(commitlint): update "body-max-line-length" rule
  .commitlintrc.json
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

ci(github): add mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(github): improve workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): upgrade GitHub Actions to v3
  .github/workflows/build.yml
Due: prettier --write

build: replace standard-version with release-please
  .github/workflows/release-please.yml
  README.md
  package.json
Due: prettier --write

fix(index): fix script so $1 is added to husky hook commit-msg
  index.js
Due: npm run lint:fix

docs(changelog): update with prettier
  CHANGELOG.md
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

docs(readme): update code blocks
  README.md
Due: prettier --write

docs(readme): remove lint section
  README.md
Due: prettier --write

build(package): save typescript dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: rewrite to TypeScript
  .eslintrc.json
  .gitignore
  .prettierrc.json
  package.json
  src/index.ts
  tsconfig.json
Due: prettier --write

build(package): save jest to devDependencies
  package-lock.json
  package.json
Due: prettier --write

refactor(src): modularize utils from index
  src/index.ts
  src/utils.ts
Due: none

build(package): save ts-jest to devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore(src): add 2nd argument to exec util
  src/utils.ts
Due: none

test: add tests and snapshots
  jest.config.ts
  package.json
  src/__snapshots__/index.test.ts.snap
  src/index.test.ts
Due: prettier --write

ci(github): add workflow build.yml
  .github/workflows/build.yml
  package.json
Due: prettier --write

docs(readme): add Codecov badge
  README.md
Due: prettier --write

feat: replace `standard-version` with `release-please.yml`
  files/.github/workflows/release-please.yml
  src/__snapshots__/index.test.ts.snap
  src/index.test.ts
  src/index.ts
Due: prettier --write

docs(readme): replace standard-version with Release Please
  README.md
Due: prettier --write

ci(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): fix workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

refactor(src): tidy index.ts and index.test.ts
  src/index.test.ts
  src/index.ts
Due: none

docs(readme): update README.md
  README.md
Due: prettier --write

test(index): fix snapshot tests
  src/__snapshots__/index.test.ts.snap
  src/index.test.ts
Due: none

ci(github): replace merge with squash in mergify.yml
  .github/mergify.yml
Due: prettier --write

feat(files): update .github/workflows/release-please.yml to use v4
  files/.github/workflows/release-please.yml
  src/__snapshots__/index.test.ts.snap
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{css,json,md,yml}
